extends layout

block content
  h1 Real-time geolocated tweets

  strong 
    |powered by 
    a(href="https://github.com/danzajdband/Tuiter") Tuiter
    |, 
    a(href="http://expressjs.com") Express
    |, 
    a(href="http://socket.io") Socket.io
    |  and 
    a(href="http://maps.google.com") Google maps

  #map
