doctype 5
html
  head
    title Twitter clients - Tuiter example
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    block content
  
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js")
    script(src="/socket.io/socket.io.js")
    script(src="/javascripts/highcharts.js")
    script(src="/javascripts/app.js")
    script
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-33695843-1']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
